* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 62, 5%;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#mapid {
  height: 100%;
  position: relative;
  width: 100%;
  float: left;
}

/* SIDEBAR AND LISTING STYLES */

.listPopUpWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.hideSidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50vh;
  left: 350px;
  height: 50px;
  width: 22px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #b47630;
  -webkit-box-shadow: 5px 0 5px -2px #2a4763;
  -moz-box-shadow: 5px 0 5px -2px #2a4763;
  box-shadow: 5px 0 5px -2px #4b647c;
}

.sidebar {
  -webkit-box-shadow: 5px 0 8px -2px #2a4763;
  -moz-box-shadow: 5px 0 8px -2px #2a4763;
  box-shadow: 5px 0 8px -2px #2a4763;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b47630;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
  transform: translateX(-350px);
}

#adam {
  width: 350px;
  height: 200px;
}

/* @media only screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }
} */

.box {
  height: auto;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}

#pic {
  width: 30%;
  height: auto;
  padding-bottom: 5%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.item {
  border-bottom: 2px dotted #ffffff;
  font-family: "Times";
  font-size: 1rem;
  color: rgb(99, 13, 13);
  width: 100%;
  height: auto;
  text-overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.item a {
  font-family: "Times";
  font-size: 1vw;
  font-weight: bold;
  color: rgb(99, 13, 13);
  text-decoration: none;
}

.extra {
  margin-top: 0%;
  font-family: "times";
  color: rgb(255, 255, 255);
  white-space: normal;
  float: left;
  background: transparent;
  padding-bottom: 5%;
}

.extra2 {
  margin-top: 2%;
  font-family: "times";
  color: rgb(255, 255, 255);
  white-space: normal;
  height: auto;
  background: transparent;
  padding-bottom: 5%;
}

.content {
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: auto;
  text-overflow: ellipsis;
}

.title {
  font-family: "times";
  color: #3d2100;
  background: transparent;
}

.space {
  margin-top: 3%;
  font-family: "Times";
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 3px;
  text-shadow: #3d2100 1px 1px 1px;
}

.listings {
  height: 100%;
  width: 350px;
  overflow: auto;
}

.listings .item {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CUSTOM SCROLLBAR */

.listings::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  border-left: 0;
}

.listings::-webkit-scrollbar-track {
  background: none;
}

.listings::-webkit-scrollbar-thumb {
  background: #53310a;
  border-radius: 2px;
  min-height: 40px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    #53310a 0%,
    #b47630 35%,
    transparent 100%,
    #b47630 65%,
    transparent
  );
  -webkit-box-shadow: inset 0px 0px 5px #53310a;
  box-shadow: inset 0px 0px 5px #53310a;
  background-color: #cf9451;
}
.listings::-webkit-scrollbar-thumb:hover {
  background: #b47630;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*CUSTOM POPUP STYLES*/

/* #cover {
  display: block;
} */

.wrapper {
  -webkit-box-shadow: 5px 0 8px -2px #2a4763;
  -moz-box-shadow: 5px 0 8px -2px #2a4763;
  box-shadow: 5px 0 8px -2px #2a4763;
  position: relative;
  display: none;
  flex-direction: column;
  left: 350px;
  height: 100vh;
  /* float: left; */
  z-index: 999;
}

.wrapper.active {
  display: flex;
}

@media only screen and (max-width: 700px) {
  #cover {
    left: 0;
  }
}

.pic {
  width: 350px;
  height: 200px;
}

.pic img {
  width: 350px;
  height: 200px;
}

.popUpContent {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 350px;
  height: 100vh;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  color: #883d00;
  overflow: auto;
}

.popUpContent::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  border-left: 0;
}

.popUpContent::-webkit-scrollbar-track {
  background: none;
}

.popUpContent::-webkit-scrollbar-thumb {
  background: #8d6e4a;
  border-radius: 2px;
  min-height: 40px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    #c4aa8d 10%,
    #ffffff 35%,
    transparent 100%,
    #ffffff 65%,
    transparent
  );
  -webkit-box-shadow: inset 0px 0px 5px #53310a;
  box-shadow: inset 0px 0px 5px #a17a4e;
  background-color: #ffffff;
}
.popUpContent::-webkit-scrollbar-thumb:hover {
  background: #e6bc8c;
}

.puName {
  font-family: "Times";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.puTitle {
  font-family: "Times";
  font-size: 1em;
  text-align: center;
}

.extra3 {
  font-family: "times";
  font-size: 1rem;
  text-align: center;
  padding: 5px;
}

.check {
  font-family: "Times";
  font-size: 1em;
  font-weight: bold;
}

.link a {
  font-family: "Times";
  font-size: 1em;
  text-decoration: underline #883d00;
}

.link1 {
  font-family: "Times";
  font-size: 1em;
  color: #883d00;
  text-decoration: none;
}

hr {
  border-top: 1px dashed #883d00;
}

.closeIcon {
  margin-top: 40px;
  width: 30px;
  cursor: pointer;
}

.closeText {
  width: 100%;
  color: #883d00;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  cursor: pointer;
}

/* git add . && git commit -m "update" && git push origin main */

/* The leaflet actual popup */
/*
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
   Popup arrow 
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
Toggle this class - hide and show the popup 
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
   Add animation (fade in the popup) 
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
*/
