* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 62, 5%;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#mapid {
  height: 100%;
  position: relative;
  width: 100%;
  float: left;
  z-index: 1;
}

/* @media only screen and (max-width: 400px) {
    #mapid {
            width: 0%;
     }
   }   */

#adam {
  width: 350px;
  height: auto;
}

.sidebar {
  -webkit-box-shadow: 5px 0 8px -2px #2a4763;
  -moz-box-shadow: 5px 0 8px -2px #2a4763;
  box-shadow: 5px 0 8px -2px #2a4763;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b47630;
  width: 100%;
  max-width: 350px;
  height: 100%;
  float: left;
  z-index: 999;
}

@media only screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }
}

/* Listing styles */

.box {
  height: auto;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}

#pic {
  width: 30%;
  height: auto;
  padding-bottom: 5%;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.item {
  border-bottom: 2px dotted #ffffff;
  font-family: "Times";
  font-size: 1rem;
  color: rgb(99, 13, 13);
  width: 100%;
  height: auto;
  text-overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.item a {
  font-family: "Times";
  font-size: 1vw;
  font-weight: bold;
  color: rgb(99, 13, 13);
  text-decoration: none;
}

.extra {
  margin-top: 0%;
  font-family: "times";
  color: rgb(255, 255, 255);
  white-space: normal;
  float: left;
  background: transparent;
  padding-bottom: 5%;
}

.extra2 {
  margin-top: 2%;
  font-family: "times";
  color: rgb(255, 255, 255);
  white-space: normal;
  height: auto;
  background: transparent;
  padding-bottom: 5%;
}

.content {
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: auto;
  text-overflow: ellipsis;
}

.info {
  font-family: "times";
  color: #3d2100;
  background: transparent;
}

.space {
  margin-top: 3%;
  font-family: "Times";
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 3px;
  text-shadow: #3d2100 1px 1px 1px;
}

.listings {
  height: 100%;
  width: 350px;
  overflow: auto;
}

.listings .item {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  
.listings .item:last-child { border-bottom: none; }

.listings .item .title {
display: block;
color: #375e8c;
font-weight: 700;
z-index: 5;
}

.listings .item .title small { 
font-weight: 400; 
color: #99cdfe;                     
}

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
background-color: #f8f8f8;
}
*/

::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  border-left: 0;
  /*background: rgba(0, 0, 0, 0.1);*/
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #53310a;
  border-radius: 2px;
  min-height: 40px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    #53310a 0%,
    #b47630 35%,
    transparent 100%,
    #b47630 65%,
    transparent
  );
  -webkit-box-shadow: inset 0px 0px 5px #53310a;
  box-shadow: inset 0px 0px 5px #53310a;
  background-color: #cf9451;
}
::-webkit-scrollbar-thumb:hover {
  background: #b47630;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* The leaflet actual popup 
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
   Popup arrow 
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
Toggle this class - hide and show the popup 
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
   Add animation (fade in the popup) 
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
*/

/*custom popup */
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 350px;
  -webkit-box-shadow: 5px 0 8px -2px #566f86;
  -moz-box-shadow: 5px 0 8px -2px #566f86;
  box-shadow: 5px 0 8px -2px #566f86;
}

#cover {
  position: absolute;
  width: 100%;
  z-index: 999;
  overflow: auto;
  left: 350px;
  top: 0;
}

@media only screen and (max-width: 700px) {
  #cover {
    left: 0;
  }
}

.wrapper::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  border-left: 0;
}

.wrapper::-webkit-scrollbar-thumb {
  background: #659dd4;
  border-radius: 2px;
  min-height: 40px;
  background-image: -webkit-linear-gradient(
    90deg,
    #286299 0%,
    #99cdfe 35%,
    transparent 100%,
    #99cdfe 65%,
    transparent
  );
  -webkit-box-shadow: inset 0px 0px 5px #286299;
  box-shadow: inset 0px 0px 5px #286299;
  background-color: #99cdfe;
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background: #518cc4;
}

.popUpContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* @media only screen and (max-width: 400px) {
  .popUpContent {
    width: 220px;
  }
} */

.puName {
  font-family: "Times";
  font-size: 1.3em;
  color: #8d480f;
  text-align: center;
  font-weight: bold;
}

.puTitle {
  font-family: "Times";
  font-size: 1em;
  color: #883d00;
  text-align: center;
}

.extra3 {
  font-family: "times";
  color: #883d00;
  font-size: 1rem;
  text-align: center;
  padding: 5px ;
}

.check {
  font-family: "Times";
  font-size: 1em;
  font-weight: bold;
  color: #8d480f;
}

.link a {
  font-family: "Times";
  font-size: 1em;
  color: #883d00;
  text-decoration: underline #883d00;
}

.link1 {
  font-family: "Times";
  font-size: 1em;
  color: #883d00;
  text-decoration: none;
}

.pic {
  position: relative;
  width: 100%;
  height: 200px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

img {
  width: 100%;
  height: auto;
}

hr {
  border-top: 1px dashed #883d00;
}

.listPopUpWrapper {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: 100%;
  position: relative;
}

.close {
  width: 100%;
  color: #883d00;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}
