* {
        box-sizing: border-box;    
}
body, html { 
           margin: 0 ;
           height: 100%;
           overflow: hidden;
           font-size: 62,5%
}

#container {
           position: absolute;
           width: 100%;
           height: 100%;
    }   

.heading {
        position:relative;
        width: 100%;
        height: auto;
}

.index {
        box-shadow: 0 0px 4px 2px #422607;
        margin-bottom: 5px;
}
#adam {
        width: 100%;
        height: auto;
}

.sidebar {
        -webkit-box-shadow: 5px 0 8px -2px #2a4763;  /* -2 shadow at one side only */
        -moz-box-shadow:5px 0 8px -2px #2a4763;
        box-shadow: 5px 0 8px -2px #2a4763;
        position: relative;
        display: block;
        background-color:  #b47630;
        width: 20%;
        height: 100%;
        float: left;
        z-index: 5;
}

@media only screen and (max-width: 400px) {
        .sidebar {
                width: 30%;
         }
       }  

#pic {
        width: 20%;
        height: auto;
        padding-bottom: 5%;
}

.flex { 
        display: flex;
        flex-direction: column;
        width: 80%;
}

.box { 
        justify-content: center;
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

#mapid {
        height: 100%;
        position: relative;
        width: 80%;
        float: left;
        z-index: 1;
}

@media only screen and (max-width: 400px) {
        #mapid {
                width: 70%;
         }
       }  

.item   { 
        
        font-family: 'Times';
        font-size: 1rem;
        color: rgb(99, 13, 13) ;
        width: 100%;
        height: auto;
        text-overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
}

.item a {  
       font-family: 'Times';
       font-size: 1.0vw;
       font-weight: bold;
       color: rgb(99, 13, 13) ;
       text-decoration:  none;
       
}

.extra     {
        margin-top: 0%;
        font-family: 'times';
        color: rgb(255, 255, 255) ;
        font-size: 0.8vw;
        white-space: normal;
        width: 95%;
        float: left;
        background: transparent;
        padding-bottom: 5%;
}

.extra2 {
        margin-top: 2%;
        font-family: 'times';
        color: rgb(255, 255, 255) ;
        font-size: 0.8vw;
        white-space: normal;
        width: 95%;
        background: transparent;
        padding-bottom: 5%;
}

.content {
        width: 90%;
        height:100%;
        background: transparent;
        overflow: auto;
        text-overflow: ellipsis;
        
}

.info    {
         font-family: 'times';
         color: #3d2100;
         font-size: 0.8vw;
         background: transparent;
}

.space {
        margin-top: 3%;
        font-family: 'Times';
        font-size: 1.0vw;
        font-weight: bold;
        color:#492300;
        text-decoration:  none;
}

.listings {
        position: absolute;
        height: 76%;
        width: 100%;
        overflow: auto;
}
  
.listings .item {
        display: block;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
}

/*  
.listings .item:last-child { border-bottom: none; }
  
.listings .item .title {
    display: block;
    color: #375e8c;
    font-weight: 700;
    z-index: 5;
  }
  
.listings .item .title small { 
    font-weight: 400; 
    color: #99cdfe;                     
}
  
.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }
  
.listings .item.active {
    background-color: #f8f8f8;
  }
*/  

::-webkit-scrollbar {
    width: 7px;
    height: 0px;
    border-left: 0;
    /*background: rgba(0, 0, 0, 0.1);*/
    
  }

::-webkit-scrollbar-track {
    background: none;
  }
  
::-webkit-scrollbar-thumb {
    background: #53310a;
    border-radius:2px;
    min-height: 40px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,#53310a 0%,#b47630 35%, transparent 100%, #b47630  65%, transparent);
    -webkit-box-shadow: inset  0px 0px 5px #53310a;
    box-shadow:inset  0px 0px 5px  #53310a; 
    background-color:#cf9451 ;
   
  }
::-webkit-scrollbar-thumb:hover {
        background: #b47630; 
}  
  
.clearfix { display: block; }
  
.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

      
/* The leaflet actual popup 
.popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
      }
      
       Popup arrow 
.popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
Toggle this class - hide and show the popup 
.popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
      }
      
       Add animation (fade in the popup) 
      @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
      }
      
      @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
      }
*/


 /*custom popup */  
 
 #cover {
        width: 100%;
        height: 100%;
 }

.wrapper { 
        position: absolute;
        width: 288px;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 999;
        border-radius: 0px;
        margin-left: 25px;;
        -webkit-box-shadow: 5px 0 8px -2px #554e29;  /* -2 shadow at one side only */
        -moz-box-shadow:5px 0 8px -2px #554e29;
        box-shadow: 5px 0 8px -2px#554e29;
}

@media only screen and (max-width: 400px) {
        .wrapper {
                width: 220px;
         }
       }

.wrapper::-webkit-scrollbar {
        width: 7px;
        height: 0px;
        border-left: 0;
}

.wrapper::-webkit-scrollbar-thumb {
        background: #659dd4;
        border-radius:2px;
        min-height: 40px;
        background-image: -webkit-linear-gradient(90deg, #286299 0%, #99cdfe  35%, transparent 100%, #99cdfe  65%, transparent);
        -webkit-box-shadow: inset  0px 0px 5px  #286299;
        box-shadow:inset  0px 0px 5px  #286299; 
        background-color: #99cdfe ;
        
      }

.wrapper::-webkit-scrollbar-thumb:hover {
        background: #518cc4; 
}  

.popUpContent {
        font-size: 14px;
        position: relative;
        height: auto;
        width: 288px;
        text-align: center;
        overflow-y: auto;
  }

@media only screen and (max-width: 400px) {
        .popUpContent {
                width: 220px;
         }
       }  

.puName {
        font-family: 'Times';
        font-size: 1.3em;
        color: #8d480f; 
        text-align: center;
        font-weight: bold;
        background-color: #fffdee;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        border-bottom: 2px dotted #535500;
        }

.puTitle{
        font-family: 'Times';
        font-size: 1.0em;
        color: #883d00;
        text-align: center;
}

.extra3  {
       
        font-family: 'times';
        color:#883d00 ;
        font-size: 1.0rem;
        text-align: center;
        padding: 20px 10px 20px 10px;
        background-color: #fffdee;
        border-radius: 15px;
        border-bottom: 2px dotted #535500;

} 

.fill {
        width: 100%;
        height:100%;
        background-color: #fffdee; 
        padding: 20px 10px 20px 10px;
        border-bottom: 2px dotted #883d00;
        border-radius: 15px;
}

.tail {
        width: 100%;
        height: auto;
        background-image: url("images/bg.jpg");
        border-radius: 15px;
}

#bg {
        border-radius: 15px;
}


.check {
        font-family: 'Times';
        font-size: 1.0em;
        font-weight: bold;
        color: #8d480f ;
        background-color: #fffdee;
        border-radius: 15px;
}

.link a {
        font-family: 'Times';
        font-size: 1.0em;
        color:#883d00 ;
        text-decoration: underline #883d00;
        
}

.link1 {
        font-family: 'Times';
        font-size: 1.0em;
        color:#883d00 ;
        text-decoration: none;
}

.pic {  
        position: relative;
        width: 100%;
        height: auto;
        
}

img {
        display: block;
        width: 100%;
        height: auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
}

hr {
        border-top: 2px dotted #883d00;
        
}

/*
.close {
        position: relative;
        font-family: 'arial';
        font-size: 14px;
        color:#093153;
        float: right;
        bottom: 0;
        right: 0;
        margin-bottom: 8px;
        margin-right: 8px;
        cursor: pointer;
}
.close a {
        text-decoration: none;
}
*/
